<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>
    .container {
        column-width: 250px;
        column-gap: 20px;
    }
    .card {
        break-inside: avoid;
        page-break-inside: avoid;
        background-color: rgb(207, 232, 232);
        border: 2px solid rgb(79, 185, 227);
        padding: 10px;
        margin: 0 0 1em 0;
        }
</style>

</head> 
<body>

<div class="container">
    <div class="card">
      <h2>I am the heading</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus aliquam dolor, eu lacinia lorem placerat
                vulputate. Duis felis orci, pulvinar id metus ut, rutrum luctus orci. Cras porttitor imperdiet nunc, at ultricies
                tellus laoreet sit amet. Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit amet orci
                vel, viverra egestas ligula. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quia molestiae amet itaque commodi eligendi! Rem, laborum voluptates molestiae accusantium eius excepturi? Iure eius eligendi sequi nisi ex unde iste, officiis ducimus sed praesentium, laboriosam placeat corrupti. Sunt blanditiis eaque tempora, deleniti voluptatum, itaque obcaecati, praesentium omnis modi quae nisi.</p>
    </div>

    <div class="card">
      <h2>I am the heading</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus aliquam dolor, eu lacinia lorem placerat
                vulputate. Duis felis orci, pulvinar id metus ut, rutrum luctus orci. Cras porttitor imperdiet nunc, at ultricies
                tellus laoreet sit amet. Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit amet orci
                vel, viverra egestas ligula. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minima odit commodi voluptate ducimus beatae odio, laudantium voluptates possimus, impedit nulla iste enim laboriosam debitis quod sequi totam, cupiditate cumque.</p>
    </div>

    <div class="card">
      <h2>I am the heading</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus aliquam dolor, eu lacinia lorem placerat
                vulputate. Duis felis orci, pulvinar id metus ut, rutrum luctus orci. Cras porttitor imperdiet nunc, at ultricies
                tellus laoreet sit amet. Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit amet orci
                vel, viverra egestas ligula. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, possimus?</p>
    </div>
    <div class="card">
      <h2>I am the heading</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus aliquam dolor, eu lacinia lorem placerat
                vulputate. Duis felis orci, pulvinar id metus ut, rutrum luctus orci. Cras porttitor imperdiet nunc, at ultricies
                tellus laoreet sit amet. Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit amet orci
                vel, viverra egestas ligula. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eveniet incidunt repellendus mollitia a! Vel id natus magni molestiae qui animi architecto sunt a placeat impedit aliquam dolorem laudantium, amet cumque iste veritatis. Numquam porro fugiat sint molestias a earum!</p>
    </div>

    <div class="card">
      <h2>I am the heading</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus aliquam dolor, eu lacinia lorem placerat
                vulputate. Duis felis orci, pulvinar id metus ut, rutrum luctus orci. Cras porttitor imperdiet nunc, at ultricies
                tellus laoreet sit amet. Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit amet orci
                vel, viverra egestas ligula. Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aliquid odit numquam ratione quos iste earum repudiandae quisquam eaque! Veniam nulla beatae sunt eligendi quod alias quibusdam accusamus at deleniti!</p>
    </div>

    <div class="card">
      <h2>I am the heading</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus aliquam dolor, eu lacinia lorem placerat
                vulputate. Duis felis orci, pulvinar id metus ut, rutrum luctus orci. Cras porttitor imperdiet nunc, at ultricies
                tellus laoreet sit amet. Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit amet orci
                vel, viverra egestas ligula.</p>
    </div>

    <div class="card">
      <h2>I am the heading</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus aliquam dolor, eu lacinia lorem placerat
                vulputate. Duis felis orci, pulvinar id metus ut, rutrum luctus orci. Cras porttitor imperdiet nunc, at ultricies
                tellus laoreet sit amet. Sed auctor cursus massa at porta. Integer ligula ipsum, tristique sit amet orci
                vel, viverra egestas ligula.</p>
    </div>

</div>


</body> 
</html>

 